[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solsplit = "7dChiG6VDtneaVXxd2gdtg6MxsPXTvYUnEPEgP4sFKts"

[programs.devnet]
solsplit = "7dChiG6VDtneaVXxd2gdtg6MxsPXTvYUnEPEgP4sFKts"

[programs.mainnet]
solsplit = "7dChiG6VDtneaVXxd2gdtg6MxsPXTvYUnEPEgP4sFKts"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000